.add-player-modal {
    width: 300px;
    height: 240px;
    border-color: $gray-500;
    display: flex;
    flex-direction: column;
    overflow: visible;

    .modal-body {
        flex: 1;
        overflow: visible;
    }

    .modal-footer {
        margin-top: auto;
    }
}